@charset "UTF-8";

.profile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.card img.profile-image {
    width: 150px;
    height: 170px;
    object-fit: cover;
}

.card img.address-proof {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

button, .button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

button:hover, .button:hover {
    background-color: #45a049;
}

.button-red {
    background-color: #e74c3c;
}

.button-red:hover {
    background-color: #c0392b;
}